button {
  margin-top: 34px;
  padding: 9px 14px;
  border-radius: 22px;
  background-color: aqua;
  color: white;
  font-weight: bold;
  font-size: 12px;
  margin-right: 3px;
  cursor: pointer;
  border: none;
}

button:hover {
  color: aqua;
  background-color: white;
}
